In [5]:
# Slicing in pandas
import pandas as pd
var = pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
var["ml"] = var["A"][:2]
print(var)


# **Line 1: import pandas as pd**

# * **`import`:** This keyword is used to import modules or libraries in Python. Modules provide functionalities that you can leverage in your code.
# * **`pandas as pd`:** We're importing the `pandas` library, which is a powerful tool for data analysis and manipulation in Python. Assigning it the alias `pd` makes it shorter and easier to use throughout the code.

# **Line 2: var = pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})**

# * **`var = pd.DataFrame(...)`:** This line creates a DataFrame object and assigns it to the variable `var`. `pd.DataFrame` is a function within the `pandas` library specifically used for creating DataFrames.
# * **`{"A":[1,2,3,4],"B":[5,6,7,8]}`:** This part defines the data that will be stored in the DataFrame. It's an  **inner dictionary** where the keys represent column names ("A" and "B") and the values are lists containing the data for each column. Here, list `[1,2,3,4]` becomes the data for column "A" and list `[5,6,7,8]` becomes the data for column "B".

# **Line 3: var["ml"] = var["A"][:3]**

# * **`var["ml"] = ...`:**  This line adds a new column to the DataFrame `var`. We're assigning the result of the expression on the right-hand side to a new key "ml" within the dictionary-like structure of the DataFrame, essentially creating a new column named "ml".
# * **`var["A"][:3]`: This part retrieves data from the existing column "A" in the DataFrame `var`. 
#     * `var["A"]`: Selects column "A" from the DataFrame.
#     * `[:3]`: Applies slicing to the selected column. Slicing extracts a subset of elements based on their position within the list. Here, it retrieves elements from the beginning (index 0) up to, but not including, index 3. So, it extracts the first three elements: [1, 2, 3].

# **Line 4: print(var)**

# * **`print(var)`:** This line simply prints the contents of the DataFrame `var` to the console. This allows you to see the resulting DataFrame structure after adding the new column "ml".

   A  B   ml
0  1  5  1.0
1  2  6  2.0
2  3  7  NaN
3  4  8  NaN

In [14]:
# insert any column at any dedicated index
import pandas as pd
var = pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
var.insert(1,"PYTHON",var["A"])
print(var)


# The code you provided successfully creates a DataFrame, inserts a new column at a specific location, and then prints the result. Here's a breakdown of each line:

# **1. Import pandas library:**

# ```python
# import pandas as pd
# ```

# This line imports the pandas library, a powerful tool for data manipulation and analysis in Python. We assign it the alias `pd` for convenience.

# **2. Create a DataFrame:**

# ```python
# var = pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
# ```

# This line creates a pandas DataFrame named `var`. Here, we define the DataFrame with two columns:

# * Column "A": Contains a list of numbers [1, 2, 3, 4].
# * Column "B": Contains another list of numbers [5, 6, 7, 8].

# **3. Insert a new column:**

# ```python
# var.insert(1,"PYTHON",var["A"])
# ```

# This line inserts a new column named "PYTHON" at a specific position in the DataFrame `var`. The `insert` method is used for this purpose.

# * `var.insert(1,...)`: We call the `insert` method on the DataFrame `var`. The first argument, `1`, specifies the index at which the new column should be inserted. In this case, 1 represents the position after the first existing column ("A").
# * `"PYTHON", var["A"]`: These are the two arguments passed to the `insert` method.
#     * `"PYTHON"`: This defines the name of the new column being inserted.
#     * `var["A"]`: This retrieves the data for the existing column "A" from the DataFrame `var`. The data from this column will populate the new column "PYTHON".

# **4. Print the DataFrame:**

# ```python
# print(var)
# ```

# This line simply prints the contents of the DataFrame `var` after the new column is inserted.

# **Output:**

# When you run this code, you'll see the following output:

# ```
#    A  PYTHON  B
# 0  1       1  5
# 1  2       2  6
# 2  3       3  7
# 3  4       4  8
# ```

# As you can see, the new column "PYTHON" is inserted after column "A" and contains the same data as the original column "A".

   A  PYTHON  B
0  1       1  5
1  2       2  6
2  3       3  7
3  4       4  8

In [19]:
# POP any column from the dataframe
import pandas as pd
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
var2 = var1.pop("A")
print(var2)
# var2

# Here's a breakdown of what each line does:

# **1. Import pandas library:**

# ```python
# import pandas as pd
# ```

# This line imports the pandas library, a powerful tool for data manipulation and analysis in Python. We assign it the alias `pd` for convenience.

# **2. Create a DataFrame:**

# ```python
# var1 = pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
# ```

# This line creates a pandas DataFrame named `var1`. Here, we define the DataFrame with two columns:

# * Column "A": Contains a list of numbers [1, 2, 3, 4].
# * Column "B": Contains another list of numbers [5, 6, 7, 8].

# **3. Remove and store a column:**

# ```python
# var2 = var1.pop("A")
# ```

# This line removes the column named "A" from the DataFrame `var1` and stores the removed data (the list of values in column "A") in a new variable named `var2`.

# The `pop` method is used for this purpose. It's a common method in Python dictionaries (and pandas DataFrames, which are dictionary-like) to remove a key-value pair.

# * `var1.pop("A")`: We call the `pop` method on the DataFrame `var1`. The argument `"A"` specifies the name of the column (key) to be removed.
# * `var2 = ...`: The result of `pop`, which is the data from the removed column "A", is assigned to the variable `var2`.

# **4. Print the removed data:**

# ```python
# print(var2)
# ```

# This line simply prints the contents of the variable `var2`, which now holds the list of values that were originally in column "A" of the DataFrame `var1`.

# **Output:**

# When you run this code, you'll see the following output:

# ```
# 0    1
# 1    2
# 2    3
# 3    4
# Name: A, dtype: int64
# ```

# The output shows the Series (one-dimensional data structure) containing the data from the removed column "A". It includes the values from each row and an index to keep track of their positions (0, 1, 2, 3). You'll also see the name of the removed column ("A") and the data type ("int64" for integers).

# **Important Note:**

# While `pop` is a convenient way to remove and access a column's data, it modifies the original DataFrame (`var1` in this case). If you want to avoid modifying the original DataFrame and instead create a new DataFrame without the column, you can use techniques like creating a copy of the DataFrame or using methods like `drop`.

0    1
1    2
2    3
3    4
Name: A, dtype: int64

In [21]:
# Delete any column from the dataframe
import pandas as pd
var = pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
del var["A"]
print(var)
# Here's a breakdown of what each line does:

# **1. Import pandas library:**

# ```python
# import pandas as pd
# ```

# This line imports the pandas library, a powerful tool for data manipulation and analysis in Python. We assign it the alias `pd` for convenience.

# **2. Create a DataFrame:**

# ```python
# var1 = pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
# ```

# This line creates a pandas DataFrame named `var1`. Here, we define the DataFrame with two columns:

# * Column "A": Contains a list of numbers [1, 2, 3, 4].
# * Column "B": Contains another list of numbers [5, 6, 7, 8].

# **3. Remove and store a column:**

# ```python
# var2 = var1.pop("A")
# ```

# This line removes the column named "A" from the DataFrame `var1` and stores the removed data (the list of values in column "A") in a new variable named `var2`.

# The `pop` method is used for this purpose. It's a common method in Python dictionaries (and pandas DataFrames, which are dictionary-like) to remove a key-value pair.

# * `var1.pop("A")`: We call the `pop` method on the DataFrame `var1`. The argument `"A"` specifies the name of the column (key) to be removed.
# * `var2 = ...`: The result of `pop`, which is the data from the removed column "A", is assigned to the variable `var2`.

# **4. Print the removed data:**

# ```python
# print(var2)
# ```

# This line simply prints the contents of the variable `var2`, which now holds the list of values that were originally in column "A" of the DataFrame `var1`.

# **Output:**

# When you run this code, you'll see the following output:

# ```
# 0    1
# 1    2
# 2    3
# 3    4
# Name: A, dtype: int64
# ```

# The output shows the Series (one-dimensional data structure) containing the data from the removed column "A". It includes the values from each row and an index to keep track of their positions (0, 1, 2, 3). You'll also see the name of the removed column ("A") and the data type ("int64" for integers).

# **Important Note:**

# While `pop` is a convenient way to remove and access a column's data, it modifies the original DataFrame (`var1` in this case). If you want to avoid modifying the original DataFrame and instead create a new DataFrame without the column, you can use techniques like creating a copy of the DataFrame or using methods like `drop`.

   B
0  5
1  6
2  7
3  8

In [22]:
# Mereging two and more than two dataframes
import pandas as pd
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
var2 = pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
pd.merge(var1,var2)
# Merge fun is used to merge the dataframes.
# It takes dataframes name as an argument and the condition on which you are merging the data.
pd.merge(var1,var2, on = 'A')
# We can use single quote and double quote as well.

   A  B_x  B_y
0  1    5    5
1  2    6    6
2  3    7    7
3  4    8    8

In [22]:
import pandas as pd
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[9,8,7,6]})
var2 = pd.DataFrame({"A":[1,2,3,4],"C":[10,11,12,13]})
pd.merge(var1,var2, how = "left")


print()

var1 = pd.DataFrame({"A":[1,2,3,4],"B":[9,8,7,6]})
var2 = pd.DataFrame({"A":[1,2,3,4],"C":[10,11,12,13]})
pd.merge(var1,var2, how = "right")

   A  B   C
0  1  9  10
1  2  8  11
2  3  7  12
3  4  6  13